html,
body, #app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.non-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

button{
  cursor: pointer;
}

.page__content{
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(black, 0.2);
    border-radius: 5px;
}