html,
body, #app {
  height: 100%;
}


* {
  box-sizing: border-box;
}

.non-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.page {
  border: 1px solid black;
}

button {
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -html-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}