@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    @apply p-3 rounded-[10px];
}

.grid-inputs {
    @apply grid gap-4 grid-cols-2;
}

.input-base {
    @apply bg-black/[.1] rounded min-h-[30px] focus:bg-black/[.2];
}